div {
  border: 2px solid blue; 
  display: flex;
}
#text {
  transition:width 2s, height 2s;
  width:100px;
  height:100px;
  &:hover {
    width:200px;
    height:200px;
    transform:rotate(180deg);
  }
}